<div id="main">
    <h1>Examen Cloud de FrankieDLT</h1>
    <textarea placeholder="Escriba aquí una frase o parrafo"></textarea>
    <br>
    <button onclick="Enviar()">Enviar!</button>
</div>
<div id="result"></div>